body {
    font-family: "Merriweather", serif;

}

h1 {
    font-size: 50px;
}

.Fuku {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 70%;
    border-radius: 145px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, rgb(165, 245, 169));
    padding: 08px 25px;
    border-radius: 5px;
    font-weight: 700;
}

.sei {
    color: blueviolet;
}

.kimi {
    color: burlywood;
}

.Experiace-iteam {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px coral;
}

.Experiace-iteam {
    font: size 40px;
}

#Full {
    border-left: 6px solid tomato;
}

#Baby {
    border-left: 6px solid blue;
}

footer p {
    text-align: center;
    font-size: 15px;
}